.input {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.textarea {
  border: none;
  outline: none;
  overflow: hidden;
  color: var(--text-dark);
  font-family: "Inter";
  font-size: var(--font-size-m);
  line-height: 1.5;
  background: none;
  inline-size: 100%;
  resize: none;
  min-block-size: 24px;
  max-block-size: 240px;
}

.textarea::placeholder {
  color: var(--text-secondary);
  font-family: "Inter Italic";
}

.counter {
  align-self: flex-end;
  color: var(--text-secondary);
  font-family: "Inter";
  font-size: var(--font-size-xs);
}
