.input {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 6px;
  min-inline-size: 0;
}

.field {
  border: none;
  outline: none;
  overflow: hidden;
  color: var(--text-dark);
  font-family: 'Inter';
  font-size: var(--font-size-m);
  background: none;
  inline-size: 100%;
  resize: none;
}

.field::placeholder {
  color: var(--text-secondary);
  font-family: 'Inter Italic';
}

.counter {
  align-self: flex-end;
  color: var(--text-secondary);
  font-family: 'Inter';
  font-size: var(--font-size-xs);
}
