.meta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-family: "Inter";
}

.value {
  font-size: var(--font-size-s);
}

.text {
  font-size: var(--font-size-s);
}
