@font-face {
  font-family: 'CoFo Kak Black';
  src: url('../assets/fonts/cofo_kakblack.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Italic';
  src: url('../assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
