@import url(./variables.css);
@import url(./fonts.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  block-size: 100%;
}

body {
  color: var(--text-light);
  background: var(--bg);
}

#root {
  block-size: 100dvb;
}
