.content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  inline-size: 100%;
  max-inline-size: 768px;
  min-block-size: 0;
}

.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
  padding: 24px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.messages::-webkit-scrollbar {
  display: none;
}

.title_container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.write_button {
  position: absolute;
  right: 24px;
  bottom: 24px;
  z-index: 1;
}
