.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.messages::-webkit-scrollbar {
  display: none;
}

.message_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.write_button {
  position: absolute;
  right: 24px;
  bottom: 24px;
  z-index: 1;
}
