.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  block-size: 100%;
  min-block-size: 0;
}

.textarea {
  border: none;
  outline: none;
  color: var(--text-dark);
  font-family: 'Inter';
  font-size: var(--font-size-m);
  background: none;
  inline-size: 100%;
  block-size: 100%;
  resize: none;
}

.textarea::placeholder {
  color: var(--text-secondary);
  font-family: 'Inter Italic';
}
