.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 24px;
  background-color: var(--bg);
}

.manifesto {
  display: flex;
  align-items: center;
  min-height: 16px;
}

.text {
  font-family: 'CoFo Kak Black';
  font-size: var(--font-size-s);
}

.logo {
  inline-size: 97px;
  pointer-events: none;
  user-select: none;
}
