.background {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.background img {
  display: block;
  object-fit: cover;
  object-position: top;
  opacity: 0;
  transition: opacity 200ms linear;
  inline-size: 100%;
  block-size: 100%;
}

.background img.loaded {
  opacity: 1;
}
